<div class="single-movie">
  <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
  <div class="main-details">
    <h1>{{ movie.Title }}</h1>
    <h3>Released on {{ movie.Released }} </h3>
    <p>Directed by {{ movie.Director }} </p>
    <p>Starring {{ movie.Actors }} </p>
  </div>
</div>